##
## directory
##
.DS_Store
.vs

/[Bb]in
/[Bb]uild
/[Dd]ist
/[Ll]og
/[Ll]ogs
/[Oo]bj
/[Oo]out
/[Tt]mp

/.svelte-kit
/node_modules
/package


##
## extension
##
*.bak*
*.exe*
*.env
*.env.*
*.gen.*

!.env.example


##
## file
##
/.vscode/launch.json
/.vscode/settings.json
/.vscode/tasks.json

/pnpm-lock.yaml
/package-lock.json
/yarn.lock

/src/prthgts/config.json

##
## test
##
/test/*.js
/test/*.js.map
/test/*.cjs
/test/*.cjs.map
/test/*.wasm
/test/*-wasm

/static/cppport-wasm/index.html