// NOTE: this is vscode template settings.json
{
    "cmake.generator": "Ninja",
    "cmake.buildDirectory": "${workspaceFolder}/build/${buildType}",
    "cmake.configureSettings":
    {
        // "INC_VPCKG": true,
        // "INC_VPCKG_DIR": "D:/vcpkg",
        // "INC_EMSDK": true,
        // "INC_EMSDK_DIR": "D:/emsdk",
    },
}